# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
venv/
.pytest_cache/
.mypy_cache/

# Logs
*.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
